name: .NET Build

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "8.x.x"

      - name: Download Dalamud
        run: |
          curl -O https://raw.githubusercontent.com/ottercorp/dalamud-distrib/refs/heads/main/latest.7z
          New-Item -ItemType Directory -Force -Path "$env:AppData\XIVLauncherCN\addon\Hooks\dev\"
          7z x latest.7z -o"$env:AppData\XIVLauncherCN\addon\Hooks\dev\"

      - name: Build
        run: |
          dotnet build -c Release

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: |
            ./bin/*

  deploy:
    permissions: write-all
    name: Deploy
    runs-on: windows-latest
    needs: build
    if: ${{ github.event_name == 'release' && github.event.action == 'published' && startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: master

      - name: Download artifacts
        uses: actions/download-artifact@v6

      - name: Get Tag Name
        shell: bash
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Upload Release Assets
        run: gh release upload --clobber ${{ env.TAG_NAME }} Release/RouletteRecorder.Dalamud/latest.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run generator
        run: .\.github\scripts\Make-Repo.ps1

      - name: Commit and Push
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
          git add .
          git diff-index --quiet HEAD || git commit -m "chore: update repo"
          git push
